<html>
  <head>
    <script type="text/javascript">
      last_json={{ last_json|safe }};
    </script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='dygraph-combined.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='synchronizer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='interaction-api.js') }}"></script>
    <style>
    .graph_panel {
        height: 45%; /* 200px; */
        width: 90%; /* 500px; */
    }
    div#data_line {
    font-size: x-large;
    font-family: sans-serif;
    }
    div#last_datetime {
    font-size: large;
    font-family: sans-serif;
    }

    .dygraph-label, .dygraph-axis-label.dygraph-axis-label-x {
    font-family: sans-serif;
    }
    
    </style>
  </head>
  <body>
    <div id="last_reading">
      <div id="data_line">{{field}}: <span id="last_data"></span> {{unit|safe}}</div>
      <div id="last_datetime">
	<span id="last_date"></span>
	<span id="last_time"></span>
	(<span id="last_age"></span>)
      </div>
    </div>
    <div id="graph1" class="graph_panel">
      {{ field }}
    </div>

<div id="field_links">
  {% for column in columns %}
    <li><a href="{{ url_for('graph',site_name=site_name,field=column)}}">{{ column }}</a>
  {% endfor %}
</div>
<!--      <p> Start time: {{ data_start_time }}
	  <p> Stop time:  {{ data_stop_time }} -->
<script type="text/javascript">
  var field="{{field}}";

  var last_date=new Date(last_json["timestamp"]);

  document.getElementById("last_date").textContent=last_date.toDateString();
  document.getElementById("last_time").textContent=last_date.toTimeString();
  document.getElementById("last_data").textContent=last_json[field].toFixed(1);
  var age=(Date.now() - last_date)/1000/60;
  document.getElementById("last_age").textContent=age.toFixed() +" minutes ago";
</script>

    <script type="text/javascript">
// distinguish between the date range of the data, and of the displayed
// graph.
// Parsing dates this way is apparently discouraged due to browser inconsistencies
var data_range_time=[new Date(1000*{{ data_start_time }}),
                     new Date(1000*{{ data_stop_time }})];

var data_range_tstamp=[data_range_time[0].getTime(),
                       data_range_time[1].getTime()];
var data_res=0;
// trying to be ... /data/rockridge/get?start=
var csv_url="{{ url_for("fetch",site_name=site_name) }}?param="+field+"&start="+ data_range_time[0].toISOString() +
    "&stop=" + data_range_time[1].toISOString() + "&res="+data_res;
var view_range_tstamp;

console.log("CSV URL: " + csv_url);

function update_data(dg,new_range_tstamp,res) {
    console.log("update_data");
    // record the change before waiting for it to actually happen:
    data_range_tstamp=new_range_tstamp;
    data_res=res;
        
    var start_time=new Date() ; start_time.setTime(data_range_tstamp[0]);
    var stop_time= new Date() ;  stop_time.setTime(data_range_tstamp[1]);
    
    var new_csv_url="{{ url_for('fetch',site_name=site_name) }}?param="+field+"&start="+
           start_time.toISOString() +
           "&stop=" + stop_time.toISOString() + "&res=" + res;
    console.log("About to update opts for " + dg);

    var vis=[true];

    dg.updateOptions({'file':new_csv_url,
                      'visibility':vis});
    console.log('draw: ' + new_csv_url);
}



function handle_draw(dg,is_initial) {
    if ( is_initial ) {
        console.log('handle_draw: skipping initial');
        return;
    }
    
    view_range_tstamp=dg.xAxisRange();
    // these are javascript timestamps - like unix epoch but
    // but in milliseconds

    var delta=view_range_tstamp[1] - view_range_tstamp[0];
    
    var wide_range=[ view_range_tstamp[0] - 0.5*delta,
                     view_range_tstamp[1] + 0.5*delta];
    
    // are we still at the right resolution of the data?
    if ( (data_res<3600) && (delta > 86400 * 1000) ) {
        console.log("Switch to hourly");	 
        update_data(dg,wide_range,3600);
        return;
    }
    if ( (data_res>0) && (delta<86400*1000) ) {
        console.log("Switch to full res");					   
        update_data(dg,wide_range,0);
        return;
    }

    // check the overlap - decide whether to update data.
    // this is reasonably snappy locally...
    
    if ( (data_range_tstamp[0] > view_range_tstamp[0]) ||
         (data_range_tstamp[1] < view_range_tstamp[1]) ) {
        console.log("Update range");        
        // request something wider than the current view to offer
        // some amount of buffer for further zoom/pan.
        update_data(dg,wide_range,data_res);
    }
}

// this is a bit nicer on laptop, but breaks the phone interaction
var interactions= {
    'mousedown' : downV3,
    'mousemove' : moveV3,
    'mouseup' : upV3,
    'click' : clickV3,
    'dblclick' : dblClickV3,
    'mousewheel' : scrollV3
};

function axis_fmt_date(d,gran) {
    //console.log("Gran: "+gran);
    if ( gran < Dygraph.DAILY ) {
	return d.toLocaleTimeString('en-US',
				    {'hour':'numeric','minute':'numeric'});
    } else {
	return d.toLocaleDateString();
    }

}
function value_fmt_date(ms,gran) {
    let d=new Date(ms);
    return d.toLocaleString();    
}

console.log('About to create dygraph');
                
var g1 = new Dygraph(document.getElementById("graph1"),
                     csv_url,
		     {
			 axes: {
			     x: {
				 axisLabelFormatter:axis_fmt_date,
                                 valueLabelFormatter:value_fmt_date,
                                 gridLineWidth:1.0,
                                 axisLabelWidth:80,
                                 pixelsPerLabel:120
			     }, 
                             y: {
                                 gridLineWidth:1.0
                             }
			 },
                         'visibility':[true],
			 'drawCallback':handle_draw,
			 strokeWidth:3,
			 labelsUTC: false,
			 axisLabelFontSize:26,
                       interactionModel : interactions
                     });


</script>


    
</body>
</html>
